body {
    color: #82a5ca;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
}

#hero {
    background-image: url("/images/galaxy.webp");
    background-size: cover;
    padding: 10px 0 40px 0;
}

footer {}

.btn {
    padding: 6px 12px;
    background-color: white;
    border: none;
    font-family: inherit;
    color: #82a5ca;
    font-weight: 800;
}

.underline {
    text-decoration: underline;
}

#main-logo {
    width: 100px;

}